.btn, .btn-success {
  font-size: 24px;
  margin: 25% auto 0;
  display: block;
  padding: 50px 30px;
}

h1 {
  text-align: center;
  margin-top: 25px;
  color:palevioletred
}

.profile {
  display: block;
  margin: 50px auto 0px;
  width: fit-content;
  background-color: aquamarine;
  text-align: center;
  padding: 20px;
}
